.profile-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  display: flex;
  gap: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 2rem;
  width: 75%;
  align-items: flex-start;
}

/* Left Side */
.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.4;
  border-right: 1px solid var(--secondary-color);
  padding-right: 1.5rem;
}

.profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.fund-section {
  text-align: center;
}

.fund-section label {
  font-weight: bold;
}

.fund-amount {
  font-size: 1.3rem;
  color: var(--secondary-color);
  font-weight: bold;
  margin: 0.5rem 0;
}

/* Right Side */
.profile-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profile-info label {
  margin-top: 0.5rem;
  font-weight: bold;
}

.profile-info input {
  margin-top: 0.2rem;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
   color:var(--text-color);
   background-color: var(--background-color);
}

/* Buttons */
.btn-edit,
.btn-save,
.btn-cancel,
.btn-fund {
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 1rem;
  color: #fff;
  transition: 0.3s;
}

.btn-edit,
.btn-fund {
  background-color: var(--secondary-color);
}

.btn-save {
  background-color: var(--primary-color);
}

.btn-cancel {
  background-color: #e74c3c;
}

.btn-edit:hover,
.btn-fund:hover,
.btn-save:hover {
  opacity: 0.9;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 14, 14, 0.318);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: #fff;
}

.fund-modal {
  background:var(--bg-color);
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  color: var(--text-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.fund-modal h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.fund-modal input {
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
 
}

.modal-actions {
  display: flex;
  justify-content: space-around;
}
