.admin-request-container {
  padding: 1.5rem;
  color: var(--text-color);
  background: var(--bg-color);
  min-height: 100vh;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 1.2rem;
  margin-top: 1.2rem;
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 0.8rem;
  padding: 1rem;
  box-shadow: var(--card-shadow);
  transition: all 0.25s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--card-shadow-hover);
}

.card-header {
  text-align: center;
  margin-bottom: 0.6rem;
}

.investor-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.3rem;
}

.email {
  color: var(--secondary-color);
  font-size: 0.9rem;
}

.card-details p {
  margin: 4px 0;
}

.document-links {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.view-btn {
  background: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.2s;
}

.view-btn:hover {
  opacity: 0.9;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.approve-btn,
.reject-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  color: #fff;
}

.approve-btn {
  background-color: #2ecc71;
}

.reject-btn {
  background-color: #e74c3c;
}

.approve-btn:hover {
  background-color: #27ae60;
}
.fundTitle{
  color:var(--primary-color);
}
.reject-btn:hover {
  background-color: #c0392b;
}

.stock-item {
  font-size: 0.9rem;
  margin: 3px 0;
  padding-left: 8px;
  border-left: 3px solid var(--secondary-color);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalbox {
  width: 400px;
  background:var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
}


.model-textarea {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border:2px solid var(--card-border);
  color:var(--text-color);
  resize: none;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.message-btn {
  background: #0099ff;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
